html {
  box-sizing: border-box;
}
* {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  height: 100vh;
  margin: 20px;
  margin: 0% 10% 0% 10%;
}
.container {
  display: flex;
  border: solid 2px black;
  width: 50%;
}
.container,
header {
  display: flex;
  flex-direction: column;
}
header {
  align-items: center;
}
.container .step {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step {
  align-items: center;
}
.container .ingredient {
  display: flex;
}
.ingredient {
}
.container .ingredient-list {
  display: flex;
  flex-direction: column;
}

.step {
}
